@import 'base';

.slider {
  height: 500px;
  background: #333;
}

.main {
	& > .container {
		@include media-breakpoint-down(md) {
			max-width: 100%;
		}
	}
}

.blogs {
  padding-top: 40px;
  .image {
    height: 190px;
    position: relative;
    margin-bottom: 20px;
    &:after {
      background: url('../../assets/images/blog.png') no-repeat;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-size: cover;
      content: '';
    }
  }
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  small {
    margin-bottom: 8px;
    display: block;
    color: #a0a0a0;
  }
  p {
    margin-bottom: 16px;
  }
  .link {
    padding-bottom: 37px;
    a {
      padding: 7px 10px;
      background: $color-secondary;
      color: #fff;
      border-radius: 7px;
      text-decoration: none;
      transition: background .3s ease;
      &:hover {
        background: darken($color-secondary, 5%);
      }
    }
  }
  .pagination {
    margin-bottom: 40px;
    li {
      padding-left: 7px;
      padding-right: 7px;
    &.active {
      a {
        background: $color-primary;
      }
    }
    &:not(:first-child):not(:last-child) {
      a {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        text-align: center;
        }
      }
    }
    a {
      border: none;
      color: #333;
    }
  }
}

.sidebar {
  form {
    input {
      padding: 10px 20px;
      border: 1px solid $color-border-secondary;
      border-radius: 4px;
      font-size: 14px;
      margin-left: 15px;
      margin-right: 15px;
			flex: 1;
			width: 100%;
    }
    button {
      margin-left: 15px;
      margin-right: 15px;
      padding: 10px;
      border-radius: 4px;
      background: $color-primary;
      border: none;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background: darken($color-primary, 5%);
      }
    }
  }
  .sidebar-blog {
    margin-top: 30px;
    padding: 14px 24px;
		background: $color-sidebar;
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}
    h3 {
    margin-bottom: 18px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding-bottom: 14px;
        a {
          color: #333;
          text-decoration: none;
          h2 {
            font-size: 18px;
            color: $color-sidebar-heading;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

#globalfooter {
  padding-top: 40px;
  background: $color-primary;
  color: #fff;
  font-size: 16px;
  h1 {
    font-size: 40px;
  }
  h2 {
    position: relative;
    margin-bottom: 13px;
    border-bottom: 2px solid #fff;
    font-size: 27px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      color: #fff;
      text-decoration: none;
    }
	}
	
	@include media-breakpoint-down(sm) {
		h1 {
			margin-bottom: 30px;
		}
		.gf-item {
			margin-bottom: 30px;
		}
	}

  .sf-footer {
    padding: 20px 0;
    margin-top: 40px;
    background:darken($color-primary, 5%);
    small {
      color: #fff;
      font-size: 16px;
    }
  }
}