@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("../css/bootstrap-lightbox.min.css");
body {
  font-family: 'Chela One', cursive;
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li {
  margin: 0px;
  list-style-type: none; }

.wrap-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.logo {
  display: block;
  position: absolute;
  left: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 45px;
  color: #000;
  font-weight: bold; }

nav {
  display: block;
  background: transparent; }

.navbar-brand {
  color: #000;
  font-size: 32px;
  font-weight: bold; }

.navbar .navbar-nav > li > a {
  font-size: 18px;
  color: #000;
  font-weight: 600; }

.navbar .navbar-nav > li.active {
  text-decoration: underline; }

.main_menu {
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main_menu li {
    position: relative; }
    .main_menu li a {
      color: #000;
      font-weight: 600; }
  .main_menu > li {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px; }

#myCarousel {
  background: #b5afaf; }
  #myCarousel .icon {
    padding: 50% 0; }
  #myCarousel .item .t-main {
    padding: 50px 0; }
  #myCarousel .item small {
    letter-spacing: 2px;
    color: #f44242;
    font-size: 12px; }
  #myCarousel .item h1 {
    font-size: 64px;
    font-weight: 900;
    color: #000; }
  #myCarousel .item a {
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600; }

.header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .header-icon a {
    color: #000;
    font-weight: 600; }

.carousel-inner img {
  width: 100%;
  margin: auto; }

.carousel-inner .item {
  padding: 70px; }

.flex-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.title-item {
  padding: 50px 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
  .title-item h2 {
    font-size: 32px;
    font-weight: 600; }
  .title-item span {
    color: #000;
    opacity: 0.5;
    font-size: 12px; }
  .title-item .img-item img {
    width: 100%;
    border: 1px solid #000; }
  .title-item .img-item .text {
    padding: 10px 0; }
  .title-item .img-item a {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1.6; }
  .title-item .img-item h6 {
    font-size: 12px;
    color: #000;
    font-weight: bold; }

.more {
  padding: 20px;
  text-decoration: underline; }
  .more a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600; }

.sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-right: 0;
  padding-left: 100px; }
  .sub-item > li {
    padding: 10px; }
    .sub-item > li a {
      font-size: 12px;
      font-weight: 600;
      color: grey; }

.blok4 {
  position: relative;
  overflow: hidden;
  width: calc(100% / 3); }
  .blok4 img {
    width: 100%; }
    .blok4 img.hover-shadow {
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.block {
  position: relative;
  overflow: hidden;
  width: calc(100%/6); }
  .block img {
    width: 100%; }

img {
  vertical-align: middle;
  border-style: none; }

.litle {
  margin: 100px -15px; }
  .litle.right {
    float: right; }
  .litle.left {
    float: left; }
  .litle img {
    width: 150px;
    background: #b5afaf; }
  .litle .text {
    width: 100px;
    position: absolute;
    top: 100px;
    left: 20px; }
    .litle .text h4 {
      font-size: 18px;
      font-weight: bold; }

.big {
  padding-bottom: 100px; }
  .big img {
    width: 100%;
    background: #b5afaf; }
  .big .text {
    position: absolute;
    width: 20%;
    top: 50px;
    left: -70px; }
    .big .text h4 {
      font-size: 32px;
      font-weight: bold; }

footer {
  margin-top: 50px; }
  footer .f-one {
    padding-bottom: 20px; }

.t-title {
  margin-bottom: 20px; }
  .t-title .t-more {
    float: right;
    position: relative;
    margin-top: -15px;
    padding: 0; }

.sec8 img {
  width: 100%; }

.content {
  margin-top: 50px; }
  .content img {
    width: 100%;
    padding-bottom: 30px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000; }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }
  .modal-content .prev, .modal-content .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none; }
    .modal-content .prev:hover, .modal-content .next:hover {
      background-color: rgba(0, 0, 0, 0); }
  .modal-content .next {
    right: 0;
    border-radius: 3px 0 0 3px; }

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer; }

.mySlides {
  display: none; }

.cursor {
  cursor: pointer; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.demo {
  opacity: 0.6; }

.bag-shop {
  background: #b8b8b8; }
  .bag-shop .bag-item {
    margin: 100px auto; }
    .bag-shop .bag-item span {
      color: #999; }
    .bag-shop .bag-item h2 {
      font-weight: bold;
      color: #000;
      font-size: 32px; }
    .bag-shop .bag-item .timer {
      text-align: center;
      padding: 10px 10%;
      margin: 20px 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .bag-shop .bag-item .timer h4 {
        font-size: 28px;
        font-weight: bold;
        color: #000; }
