@import "variables";
@import "mixins";
@import "base";

#navigation {
	.top-menu {
		background-color: $color-primary;
		color: $color-light;
		padding-top: 25px;
		padding-bottom: 25px;
		background-image: url(../images/pattern.png);
		background-size: cover;
		background-position: center;
		font-size: 14px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
		position: relative;
		z-index: 2;
		.search {
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;
			input {
				padding: 8px 20px;
			}
			i.material-icons {
				color: $color-primary;
			}
		}
		a {
			color: $color-light;
			font-weight: 600;
			transition: all .2s;
			border-bottom: 2px solid transparent;
			&:focus, &:hover {
				text-decoration: none;
				border-bottom: 2px solid $color-light;
			}
		}
		.list-inline {
			&-item {
				margin-left: 10px;
				position: relative;
				.badge {
					background-color: $color-yellow;
					color: $color-light;
					position: absolute;
					top: -10px;
					right: -10px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					border: none;
					padding: 0;
					text-align: center;
					border-radius: 50%;
				}
			}
		}
	}

	.nav-menu {
		background-color: $color-light;
		font-size: 14px;
		font-weight: 600;
		color: $color-body;
		a {
			color: $color-body;
			text-transform: uppercase;
		}
		.category {
			a {
				background-color: $color-primary;
				color: $color-light;
				display: block;
				padding: 10px 15px;
				i.material-icons {
					float: right;
					transform: translateY(-2px);
					&.keep-left {
						float: initial;
						transform: initial;
						margin-right: 10px;
						opacity: .3;
					}
				}
			}
		}
		.active {
			a {
				border-bottom: 2px solid $color-primary;
			}
		}
		.list-inline-item {
			padding-left: 10px;
			padding-right: 10px;
			position: relative;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&.category {
				&:hover {
					.dropdown-category {
						visibility: visible;
						opacity: 1;
					}
				}
			}
			.dropdown-category {
				position: absolute;
				width: calc(100% - 10px);
				border: 1px solid $color-border;
				border-top: 0;
				visibility: hidden;
				box-shadow: 0 20px 40px rgba(0, 0, 0, .16);
				opacity: 0;
				transition: visibility 0s, opacity .2s;
				a {
					background-color: $color-light;
					color: $color-body;
					&:hover {
						background-color: $color-gray-light !important;
						border-color: transparent;
					}
					i.material-icons {
						opacity: .3;
					}
				}
				.sub-category {
					visibility: hidden;
					opacity: 0;
					height: calc(100% + 2px);
					left: calc(100% + 1px);
					top: -1px;
					position: absolute;
					width: 100%;
					border: 1px solid $color-border !important;
					border-left: 0 !important;
					background-color: $color-light;
					box-shadow: 0 20px 40px rgba(0, 0, 0, .16);
					transition: visibility 0s, opacity .2s;
					li {
						a {
							border: none;
						}
					}
				}
			}
		}
	}
}