@import 'variables';
@import 'mixins';
@import 'base';

body {
	font-family: 'Poppins', sans-serif;
}


* {
	box-sizing:border-box;
}
/*
RESPONSIVE
=====================================================
 */

@media (max-width:991px) {
	.container-menu-desktop {
		display:none;
	}
	.item-slick1 {
		height:calc(100vh - 70px) !important;
	}
	.respon5 {
		padding-top:50px;
		padding-bottom:50px;
	}
}

@media(max-width:1300px) {
	.main-menu{
		&> .respon-sub-menu{
			.sub-menu {
				right:100%;
				left:auto;
			}
			&> .sub-menu {
				right:0px;
				left:auto;
			}
		}
	}
}


/*
HEADER
======================================================
 */
.header-v1 {
	background:lightblue;


}

// header desktop
.container-menu-desktop {
	height:auto;
	width:100%;
	position:relative;
	-webkit-transition:all 0.3s;
	-o-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;

}




.wrap-menu-desktop {
	position:fixed;
	z-index:1100;
	background-color:transparent;
	width:100%;
	height:70px;
	// top:40px;
	left:0px;

	-webkit-transition: height 0.3s, background-color 0.3s;
	-o-transition: height 0.3s, background-color 0.3s;
	-moz-transition: height 0.3s, background-color 0.3s;
	transition: height 0.3s, background-color 0.3s;
	
}


.header-v1 {
	.container-menu-desktop {
		height:auto;

	}
	&.page2 {
		.wrap-menu-desktop {
			background-color:#fff;
		}
	}
	.wrap-menu-desktop {
		background-color: transparent;
		top:0;
		border-bottom:1px solid rgba(255,255,255,0.1);
	}
	.main-menu {
		&> li{
			& >a{
				color:#000;
			}
		}
	}
	.fix-menu-desktop {
		.wrap-menu-desktop {
			background-color: #fff;
			// border-color:#;
		}
	}
}

.limiter-menu-desktop {
	height:100%;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	background-color:transparent;
}


.logo {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	height:65%;
	margin-right:55px;
	color:#000;
	font-weight:bold;
	font-size:32px;
	&:hover {
		color:#ffdab9;
		text-decoration:none;
	}
}
// menu
.menu-desktop {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	align-items:center;
	height:100%;
}

.main-menu {
	list-style-type:none;
	margin:0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items:center;
	&>li {
		display:block;
		position:relative;
		padding:40px 10px 20px 0px;
		margin:0px 4px 0px 14px;
		&:hover {
			&>a{
				text-decoration:none;
				color:#ffdab9;
			}
			&> .sub-menu {
				visibility: visible;
				opacity:1;
			}
		}
		&>a{
			font-weight:600;
			font-size:20px;
			color:#333;
			padding:5px 0px;
			transition:all 0.4s;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			-moz-transition: all 0.4s;
		}
		&> .sub-menu {
			top: 100%;
			left:0;
		}
		&.active-menu {
			color:#6c7ae0;
		}

	}
}

.sub-menu {
	list-style-type: none;
	position:absolute;
	top:0;
	left:100%;
	min-width:178px;
	max-width:225px;
	background-color:#fff;
	transition:all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	padding: 5px 0;

	box-shadow:0 1px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);

	visibility: hidden;
	opacity:0;	
	li {
		position:relative;
		background-color:transparent;
		transition:all 0.4s;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
		&:hover{
			background-color:transparent;
			& > .sub-menu{
				visibility:visible;
				opacity:1;
			}
			& >a {
				color:#ffdab9;
				text-decoration:none;
			}
			
		}
	}
	a {
		font-family:Poppins-Regular;
		font-size:12px;
		line-height:1.5;
		color:#555;

		display:block;
		padding:8px 20px;
		width:100%;

		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;

	}

}

.label1 {
	position:relative;
	&::after {
		content:attr(data-label1);
		font-family:Poppins-Regular;
		font-size:12px;
		line-height:15px;
		color:#fff;
		text-transform:uppercase;
		text-align:center;

		display:block;
		position:absolute;
		top:30px;
		left:-35px;
		height:15px;
		min-width:32px;
		// border-radius:7px;
		padding:0 4px;
		background-color:#EE5C42;
	}
}



.wrap-icon-header {
	flex-grow :1;
}

.icon-header-item {
	position:relative;
	font-size:20px;
	line-height:1;
	cursor:pointer;
}
.icon-header-noti {
	&::after{
		content:attr(data-notify);
		font-family:Poppins-Regular;
		font-size:12px;
		color:#fff;
		line-height:15px;
		text-align:center;

		display:block;
		position:absolute;
		top:-7px;
		right:0;
		min-width:15px;
		height:15px;
		padding:0 3px;
		background-color:#EE5C42;
		border-radius:100%;
	}
}

/*
END HEADER
-----------------------------------------------------------------
 */

/*
COMMON
=================================================================
 */

 .more {
 	
 	a {
 		text-transform:uppercase;
 		color:#000;
 		font-weight:600;
 		border-bottom:1px solid #000;
 		font-size: 12px;
 	}

 }

.h-text {
	// padding-top:50px;
	// padding-bottom:50px;
	small {
		color:grey;
		font-size:14px;
	}
	h4 {
		font-size:32px;
		color:#000;
		font-weight:600;
	}
	p {
		color:#000;
		& span{
			color:grey;
		}
	}
	a {
		font-weight:600;
		border-bottom:1px solid #000;
		font-size:14px;
		color:#000;
	}
}


.flex-w, .flex-r-m, .flex-c-m, .flex-col-l-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-w {
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap:wrap;
}
.flex-r-m {
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
}
.flex-c-m{
	justify-content:center;
	-ms-align-items:center;
	align-items:center;
}
.flex-col-l-m {
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: center;
}

.h-full {
	height:100%;
}
.p-l-45 {
	padding-left:45px;
}
.p-r-25 {
	padding-right:25px;
}
.p-lr-11 {
	padding-left:11px;
}
.p-lr-19 {
	padding-right:19px;
}
.bor6 {
	border-right :1px solid rgba (255,255,255,0.1);
}
.cl0{
	color:#000;

}
.hov-cl1 {
	&:hover{
		color:#717fe0;
	}
}
.trans-03 {
	-webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.trans-04 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.subcribe {
	margin:50px auto;
	.h-text{
		margin:0;
	}
}

/*
END COMMON
-----------------------------------------------------------------
 */


/*
SLIDER
==============================================================
 */

.slider{
	// background: black;
}


/*
PAGE 1 
================================================================
 */
#slider-page1 {
	background:lightgray;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.item {
		margin:100px auto;
		.h-text {
			display:block;
			width:100%;
			text-align:left;


			// margin:25% 0;
			small {
				text-transform:uppercase;
				font-size:14px;
				color:lightpink ;
				letter-spacing: 2;
				font-weight:400;
			}
			h2 {
				font-size:5em;
				font-weight:600;
				padding-right:200px;
				color:#000;
			}
			a {
				color:#000;
				border-bottom:1px solid #000;
				font-weight:600;
				text-transform:uppercase;
				font-size:12px;
			}
		}
		.img {
			width:100%;
			// margin:25% 0;

		}
	}

}

.random-grid {
	.random-image {
		background : lightgrey;
		text-align:center;
		img {
			width:100%;
			height:100%;
		}

		&.img-litle {
			width:200px;
			text-align:center;
			padding:50px;
			

		}
		&.img-big {
			width:500px;
			text-align:center;
			// height:400px;
			padding:70px;
		}
	}
	.random-item {
		display:flex;
		justify-content:space-between;
		align-items :baseline;
		flex-wrap :wrap;
		margin:50px auto;
		&.rn-two {
			flex-direction:row-reverse;
		}

	}
	.random-caption {
		h4 {
			color:#000;
			font-weight:bold;
		}
		p {
			color:grey;
			font-size:14px;
		}
		a {
			color:#000;
			font-size:12px;
			border-bottom:1px solid #000;
			font-weight:600;
		}
		&.cp-tl {
			padding-left:10px;
			margin-top:-10px;
			h4 {
				width:60%;
				font-size:18px;
			}
		}
		&.cp-big {
			margin-top:-20em;
			margin-left:-5em;
			h4 {
				width:20%;
				font-size:28px;
			}
		}

	}
	
	
}

.product {
	.h-text {
		padding-top:70px;
		padding-bottom:70px;
		small {
			font-size:14px;
			color:grey;
		}
		h4 {
			font-size:20px;
			font-weight:bold;

		}
		a {
			color:#000;
			font-size:12px;
			font-weight:600;
			text-transform:uppercase;
			padding-top:20px;
			border-bottom:1px solid #000;
		}
		
	}
	.item-left{
		background-image: url('../images/slider/slide-01.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		.h-text {
			float: left;
			margin:20px 20px;
			h4 {
				padding-right:500px;
			}
			
		}
	}
	.item-center{
		background-image:url('../images/slider/slide-02.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;

		.h-text {
			text-align:center;
			margin:20px 150px;
			small {
				color:#fff;
			}
			h4 {
				color:#fff;

			}
			a {
				color:#fff;
				border-bottom:1px solid #fff;
			}
		}
	}
	.item-right{
		background:lightgreen;
		// background-size:cover;
		// background-repeat:no-repeat;
		// background-position:left left;
		.h-text {
			float: right;
			margin:20px 20px;
			
		}
	}
}

.arrival {
	.main-menu{
		&>li {
			&>a{
				color:grey;
				font-size:12px;	
				&.active, &:hover {
					color:#000;
				}

			}

		}

	}
	
}

.day {
	background-image:url('../images/slider/slide-04.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	margin-bottom: 50px;
	.h-text {
		margin: 100px auto;
	}
}


.t-title {
	width:100%;
	h4 {
		font-weight:bold;
		font-size:24px;
	}
	p {
		color:grey;
		font-size:14px;
	}
}

.news {
	.more {
		float: right;

		a {
			font-size:12px;
			color:#000;
			border-bottom:1px solid #000;
			font-weight:600;
			text-transform:uppercase;

			&:hover {
				text-decoration:none;
			}
		}
	}
	.item {
		margin-top:20px;
		text-align:left;
		img{
			width:100%;
		}
	}
	.news-text {
		line-height:20px;
		padding-top:20px;
		h6 {
			font-size:14px;
			font-weight:600;
		}
		a {
			font-weight:600;
			color:#000;
			border-bottom:1px solid #000;
			text-transform:uppercase;
			font-size:14px;
			line-height:2;
		}
		p {
			font-size:12px;
			color:grey;
			span {
				color:#CD0000;

			}
		}
	}
}


.pg1-galery {
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	width:100%;
	justify-content :center;

	img {
		max-width:100%;
	}


}

/*
END PAGE 1
-----------------------------------------------------------
 */

/*
PAGE 2
==========================================================
 */
.page2 {
	width:100%;
	display:flex;
	justify-content: space-between;
	
	// display:grid;
	// grid-template-columns :50% 50%;
	// // grid-template-rows:100%;
	// grid-column-gap:100px;
	.random-item {
		display:grid;
		flex-direction:column;
		

	}
	.left {
		.random-image{
			&.big {
				padding:70px 20px;
			}
		}
	}
	.right {
		.random-image {
			img {
				width:100%;
			}
			&.litle{
				width:50%;
				height:500px;
			}
		}
	}

	.r-title {
		small {
			color:grey;
			font-size:14px;
			text-transform:uppercase;
		}
		h4 {
			font-size:28px;
			color:#000;
			font-weight:600;
			padding-right:50%;

		}
	}

}





/*
PAGE 5
========================================================
 */

.item-1 {background:#EBCEAC;}
.item-3 {background:#ECC3BF;}
.item-2 {background: #c0d6ce;}
.item-4 {background: #eeeff6}
.product {
	.item  {
		text-align:center;
		margin-right: -15px;
		margin-top:15px;
		padding:20px 0;
		height:200px;
		.product-caption {

			small {
				text-transform:uppercase;
				font-size:12px;
				font-weight:600;
			}
			h4 {
				color:#000;
				font-size:24px;
				font-weight:600;
			}
		}
		
	}
}


.product {
	margin-bottom: 50px;
}

.arrival5 {
	.t-title {
		text-align:center;
		
	}
	.main-menu {
		width:100%;
		justify-content:center;
		&>li {
			a{
				color:grey;
				font-size:14px;
				&.active {
					color:#000;
				}
			}
		}

	}


	.product-img {
		img{
			width:100%;
		}
	}
	.product-desc{
		padding:20px 0;
		text-align:center;
		h6 {
			font-size:14px;
			font-weight:600;
			color:#000;
		}
		p {
			color:grey;
			font-size:12px;
		}
	}
}

.day-pg5 {
	margin:50px 0;
	&.bg-day1 {background:lightblue;}
	&.bg-day2 {background:lightpink;}
	.h-text {
		width:60%;
		small {
			font-size:14px;
			text-transform:uppercase;
		}
		h4 {
			font-weight:600;
			color:#000;
			font-size:32px;

		}
		p{
			color:grey;
			font-size:14px;
		}
		&.blue {
			small {
				color:darkblue;
			}
		}
		&.pink {
			small {
				color:red;
			}
		}
	}
	img {
		width:100%;
	}
}

/*
END PAGE 5
-------------------------------------------------------
 */

/*
PAGE 6 
===================================================================
 */

#page6 {
	.product-desc {
		margin:50px 100px;
	}
	.h-text {
		padding-top:0;
		padding-right:100px;
		.more {
			padding-top:20px;
		}
	}
	p {

		color:grey;
		font-size:14px;
	}
	.t-title {
		text-align:center;
		margin:50px auto;
	}

}

.slider6 {
	background:lightblue;
	height: 300px;
	width:100%;
}

.product-galery {
	.gr-flex {
		display:flex;
		align-items : baseline;
		justify-content:space-around;

	}
	.gr-item  {

		
		&.item-short {
			padding:20px 0;
		}
		&.item-long {
			padding:70px 0;
		}
	}
	.product-desc {
		text-align:center;
	}
}

.special {
	margin-bottom:50px;
	background:#ccdb84;
	.t-text {
		margin:25% 0;
		line-height:2;
		small{
			color:grey;
			text-transform:uppercase;
		}
		h4 {
			font-weight:600;
			color:darkgreen;
		}
		p {
			color:#000;
			padding-right:200px;
		}

	}
	img {
		width:100%;
	}
}

.subcribe6 {
	text-align:center;
	.h-text {
		margin:0;
	}
}

.item1 {background:lightgray;}
.item2 {background: #ffebd5;}
.item3 {background:#bffffc;}


/*
END PAGE 6
------------------------------------------------------------------
 */

/*
PAGE 7
===================================================================
 */
.page7 {
	.sidenav {
		border-right:solid 1px lightgray;
	}
	footer {
		background:#000;
		margin:-15px;
	}
	.menu-side {
		ul{
			list-style-type: none;
			&>li {
				line-height:2;
				a{
					font-size:12px;
					color:#000;
					font-weight:600;
					text-transform:uppercase;
					&:hover{
					border-bottom :1px solid #000;
					text-decoration: none;
					}
				}

			}
		}
	}
}
.h-page7 {
	background:#bbc59e;
	margin-left:-15px;
	.h-text {
		margin:10%;
	}
	.pg7-image{
		margin:10%;
	}

}

.pg7-item {
	margin:30px 0;	
}

.sub-item {
	display:flex;
}

.random-grid7 {
	.quotes {
		text-align:center;
		padding:0 200px;
	}
}

.arrival {
	.h-text{
		margin:0;
		width:100%;
	}
	.all-product {
		display:flex;

		&>ul {
			width:100%;
			display:flex;
			justify-content:flex-end;
			&>li {
				padding:10px;
			}
			
		}
	}
	.item-img {
		// background:lightgray;
		// padding:20px;
		img {
			width:100%;
		}
	}
	.item-desc{
		padding-top:20px;
		h6 {
			font-size:14px;
			font-weight:600;
		}
		p{
			color:grey;
			font-size:14px;
		}

	}
	.more {
		text-align:center;
		margin:50px auto;
		a {
			text-transform:uppercase;
			color:#000;
			font-weight:600;
			border-bottom:1px solid #000;
			font-size: 12px;
		}

	}
}

.gr-logo {
	margin:50px auto;
}

.gr-flex {
	display:flex;
	width:100%;
	img {
		width:100%;
	}
}

/*
END PAGE 7
-----------------------------------------------------------
 */



/*
PAGE 8
 =========================================================
 */
.body-page8 {
	margin-left: 20px;
	margin-right:20px;
	.main-pg8 {
		background: red;
	}
}

#page8 {
	background: lightgrey;
}

/*
END PAGE 8
--------------------------------------------------------------------
 */

/*
PAGE 9
=====================================================================
 */
#page9 {
	background:#5959AB;
}

/*
END PAGE 9
-----------------------------------------------------------------
 */







/*
PAGE 13
======================================================
 */
#section-1 {background: #cdb38b;}
#section-2 {background: #d7d8d9; }
#section-3 {background: #c0d6ce;}
#section-4 {background: #313131}
.item-section {
	width: 100%;
	height: 700px;
}

/*
PAGE 14
=================================================================
 */
#page14 {
	margin:20px;
}



.h-text2 {
	margin:25% auto;
}

.product {
	position:relative;

	
}



.l-pink {
	background:lightpink;
}
.l-blue {
	background:lightblue;
}
.l-grey {
	background: lightgrey;
}
.l-white {
	background:lightgreen;
}
.l-brown{
	background:brown;
}	


/*
FOOTER 
==============================================================
 */
.f-top {
	border-bottom:1px solid #cccccc;
	padding-top:30px;
	padding-bottom:30px;
}