@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "../../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min";
@import  'variables';
@import  'mixins';

* {
	box-sizing: border-box;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr, button {
	margin: 0;
  padding: 0;
}

html, body {
	font-family: $font-family;
	font-size: 16px;
}

a {
	color: $color-blue;
	&:hover, &:focus {
		color: inherit;
	}
}

body, input, textarea, select, button {
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	text-align: left
}

.no-padding {
	padding: 0 !important;
}

.flex {
	display: flex;
}

.checkbox {
	label {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid rgba(255,255,255,.1);
		border-radius: 3px;
		vertical-align: middle;
		margin-bottom: 2px;
		margin-right: 10px;
		position: relative;
		transition: all .2s;
		i {
			font-size: 14px;
			position: absolute;
			left: 1px;
			top: 1px;
			opacity: 0;
			transition: all .2s;
		}
	}
	input {
		display: none;
		&:checked ~ label {
			background-color: $color-green;
			i {
				opacity: 1;
				color: $color-light;
			}
		}
	}
}

.radio {
	label {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid rgba(255,255,255,.1);
		border-radius: 50%;
		vertical-align: middle;
		margin-bottom: 2px;
		margin-right: 10px;
		position: relative;
		transition: all .2s;
		i {
			font-size: 14px;
			position: absolute;
			left: 1px;
			top: 1px;
			opacity: 0;
			transition: all .2s;
		}
	}
	input {
		display: none;
		&:checked ~ label {
			background-color: $color-green;
			i {
				opacity: 1;
				color: $color-light;
			}
		}
	}
}


.select-group {
	display: inline-block;
	position: relative;
	select {
		appearance: none;
		padding-right: 30px !important;
		position: relative;
		z-index: 1;
		&.btn {
			padding: 7px 15px !important;
		}
	}
	label {
		position: absolute;
		z-index: 0;
		font-size: 20px;
		top: 0;
		right: -7px;
		i {
			color: rgba(255,255,255,.3);
			margin-left: -35px;
			font-size: 20px;
		}
	}
}

.w-100p {
	width: 100%;
}

.small-text {
	font-size: 14px;
}