@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "../../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min";
@import "../../../../node_modules/select2/dist/css/select2.min";
@import  'variables';
@import  'mixins';

* {
	box-sizing: border-box;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr, button {
	margin: 0;
  padding: 0;
}

html, body {
	font-family: $font-family;
	font-size: 16px;
	position: relative;
	width: 100%;
}

a {
	color: $color-blue;
	&:hover, &:focus {
		color: inherit;
	}
}

body, input, textarea, select, button {
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

.no-padding {
	padding: 0 !important;
}

.flex {
	display: flex;
}

.checkbox {
	.validate-error {
		margin-top: 3px;
	}
	label {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid rgba(255,255,255,.1);
		border-radius: 3px;
		vertical-align: middle;
		margin-bottom: 2px;
		margin-right: 10px;
		position: relative;
		transition: all .2s;
		i {
			font-size: 14px;
			position: absolute;
			left: 1px;
			top: 1px;
			opacity: 0;
			transition: all .2s;
		}
	}
	input {
		display: none;
		&:checked ~ label {
			background-color: $color-green;
			i {
				opacity: 1;
				color: $color-light;
			}
		}
	}
}

.radio {
	label {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid rgba(255,255,255,.1);
		border-radius: 50%;
		vertical-align: middle;
		margin-bottom: 2px;
		margin-right: 10px;
		position: relative;
		transition: all .2s;
		i {
			font-size: 14px;
			position: absolute;
			left: 1px;
			top: 1px;
			opacity: 0;
			transition: all .2s;
		}
	}
	input {
		display: none;
		&:checked ~ label {
			background-color: $color-green;
			i {
				opacity: 1;
				color: $color-light;
			}
		}
	}
}


.select-group {
	display: inline-block;
	position: relative;
	select {
		appearance: none;
		padding-right: 30px !important;
		position: relative;
		z-index: 1;
		text-align: left;
		&.btn {
			padding: 7px 15px !important;
		}
		option {
			color: $color-darkblue;
		}
	}
	label {
		position: absolute;
		z-index: 0;
		font-size: 20px;
		top: 0;
		right: -7px;
		i {
			color: rgba(255,255,255,.3);
			margin-left: -35px;
			font-size: 20px;
		}
	}
}

.w-100p {
	width: 100%;
}

.small-text {
	font-size: 14px;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,.1);
	margin-top: 20px;
	margin-bottom: 20px;
}

.validate-error {
	color: $color-red;
	font-size: 12px;
	margin-top: 10px;
	float: right;
	margin-top: -27px;
	margin-right: 10px;
	&.with-icon {
		margin-right: 40px;
	}
}

.select2 {
	width: 100% !important;
	.select2-selection {
		background-color: rgba(255, 255, 255, 0.1);
		border: none;
		border-radius: 3px;
		padding: 10px;
		height: auto;
		outline: none;
	}
	.select2-selection__rendered {
		color: $color-light !important;
		font-size: 14px;
		line-height: initial !important;
	}
	.select2-selection__arrow {
		display: none;
	}
	.select2-results > .select2-results__options {
		background-color: $color-darkblue !important;
	}
}
.select2-container {
	.select2-results {
		& > .select2-results__options {
			background-color: $color-darkblue !important;
			font-size: 14px;
		}
	}
	.select2-dropdown {
		border: none;
	}
	.select2-results__option[aria-selected=true] {
		background-color: $color-blue !important;
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: lighten($color-darkblue, 10%);
	}
	.select2-search {
		background-color: $color-darkblue !important;
	}
	.select2-search__field {
		background-color: $color-darkblue !important;
		border: none !important;
		outline: none;
		color: $color-light;
		font-size: 14px;
	}
}