@import "variables";

.theme-red {
	.nav-app, .nav {
		.help a {
			color: $color-red;
		}
		.title:after {
			background-color: $color-red;
		}
	}
	.nav-aside .list li.active a {
		background-color: $color-red;
	}
	section.content .search .quick-filter a .badge {
		background-color: $color-red;
	}
	.table {
		.title a {
			color: $color-red;
		}
		tbody td a {
			color: $color-red;
		}
	}
	.badge {
		background-color: $color-red;
	}
}