$color-darkblue       		: #182038;
$color-darkborder         : #363d4f;
$color-blue           		: #026DD5;
$color-green          		: #00B94D;
$color-red          		  : #D24343;
$color-orange          		: #BEA233;
$color-light          		: #fff;

$break-point-nav      		: 640px;

// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
$font-family			    : 'Open Sans', sans-serif;