@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Chela One', cursive;
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul,, li {
	margin: 0px;
	list-style-type: none;
}

.wrap-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap:wrap;
	width:100%;
	height:80px;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;


	
}
.logo {
	display: block;
	position: absolute;
	left: 52px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size:45px;
	color:#000;
	font-weight:bold;
	
}

nav {
	display:block;
	background:transparent;
}

.navbar-brand {
	color:#000;
	font-size:32px;
	font-weight:bold;
}

.navbar {

	.navbar-nav {
		&>li{

			& >a {
				font-size:18px;
				color:#000;
				font-weight:600;

			}
			&.active {

				text-decoration: underline;
			}

		}
	}
}

.main_menu {
	list-style-type: none;
	margin: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	li {
		position:relative;
		a {
			color:#000;
			font-weight:600;
		}
	}
	&>li {
		display: block;
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

#myCarousel {
	background:#b5afaf;
	.icon {
		padding:50% 0;
	}
	.item {

		.t-main {
			padding:50px 0;
		}
		small {
			letter-spacing: 2px;
			color:#f44242;
			font-size:12px;
		}
		h1 {
			font-size:64px;
			font-weight:900;
			color:#000;
		}
		a {
			color:#000;
			text-decoration:underline;
			text-transform: uppercase;
			letter-spacing:2px;
			font-size:12px;
			font-weight:600;
		}
	}
	

}

.header-icon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	right: 52px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	a {
		color:#000;
		font-weight:600;
	}
}

.carousel-inner {
	img {
		width:100%;
		margin:auto;
	}
	.item {
		padding:70px;
	}
}

.flex-w {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.blok4 {
	position: relative;
	overflow: hidden;
	width: calc(100% / 3);
	img {
		width:100%;
	}
}

.block {
	position:relative;
	overflow:hidden;
	width:calc(100%/6);
	img {
		width:100%;
	}
}
img {
	vertical-align: middle;
	border-style: none;
}
.tabs {
	width:100%;
	margin-top:-30px;

	ul {
		float: right;

		li {
			font-size: 11px;
			font-weight: 500;
			float:left;
			margin-right: 20px;
			cursor: pointer;
			-webkit-transition: all 200ms ease;
			-moz-transition: all 200ms ease;
			    transition-property: all;
			    transition-duration: 200ms;
			    transition-timing-function: ease;
			    transition-delay: 0s;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			transition: all 200ms ease;
			a {
				color:#666768;
				font-size:12px;
				font-weight:600;
			}
			&.active {
				a {
				
				color:#000;	
				}
				
			}
			

		}
	}
	.title-item {
		position: relative;
		font-size: 24px;
		font-weight: 500;
		float:left;
	}

}
.img-item {
	
	img {
		width:100%;
	}
}

.litle{
	margin:100px -15px;
	&.right {
		float:right;
	}
	&.left {
		float:left;
	}
	img {
		width:150px;
		background: #b5afaf;

	}
	.text {
		width: 100px;
	    position: absolute;
	    top: 100px;
	    left:20px;

		h4 {
			font-size:18px;
			font-weight:bold;

		}
	}
}

.big {
	padding-bottom:100px;
	img {
		width:100%;
		background:#b5afaf;
	}
	.text {
		position:absolute;
		width:20%;
		top:50px;
		left:-70px;
		h4 {
			font-size:32px;
			font-weight:bold;
		}
	}
}

.bg-1 {
	//margin-bottom: 20px;


}
footer {
	margin-top: 50px;
	.f-one {
		padding-bottom:20px;
	}
}

.t-title {
	.t-more {
		float:right;
		position:relative;
		margin-top:-15px;
	}
}

.sec8 {

	img {
		width:100%;

	}
}

.content {
	margin-top:50px;
	img {
		width:100%;
		padding-bottom:30px;

	
	}
}

.title-item {
	padding:50px 0;
	h2 {
		font-size:32px;
		font-weight:600;
	}
	span {
		color:#000;
		opacity: 0.5;
		font-size:12px;
	}
}

//modal style
.modal {
	display: none;
	position:fixed;
	z-index: 1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: #000;
}

.modal-content {
	position:relative;
	background-color:#fefefe;
	margin:auto;
	padding:0;
	width:90%;
	max-width: 1200px;
}

.demo {
	opacity:0.6;
}