$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color-primary: #39AC37;
$color-secondary: darken($color-primary, 4%);
$color-border-secondary: #e4e4e4;
$color-sidebar: #E8ECED;
$color-sidebar-heading: #0C4BAA;