$color-red  : #F44336;
$color-border: #d6d6d6;
$break-point-nav:  640px;
// Font
$font-family			    : 'Helvetica Neue', Helvetica, 'FontAwesome', 'Arial', sans-serif;
$font-poppins			    : 'Poppins', 'FontAwesome', sans-serif;