@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min";
@import "../../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min";
@import  'variables';
@import  'mixins';

* {
	box-sizing: border-box;
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr, button {
	margin: 0;
  padding: 0;
}

html, body {
	font-family: $font-primary;
	font-size: 16px;
	position: relative;
	width: 100%;
	height: 100%;
	color: $color-body;
}

a {
	color: $color-primary;
	&:hover, &:focus {
		color: inherit;
	}
}

body, input, textarea, select, button {
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
}

.no-padding {
	padding: 0 !important;
}

.flex {
	display: flex;
}

.btn {
	&.btn-primary {
		background-color: $color-primary;
		border: 2px solid $color-primary;
		font-weight: 600;
		&:focus, &:hover, &:visited, &:active {
			background-color: $color-primary !important;
			color: $color-light;
		}
	}
	&.btn-outline-primary {
		border: 2px solid $color-primary;
		color: $color-primary;
		font-weight: 600;
		&:focus, &:hover, &:visited, &:active {
			background-color: transparent !important;
			color: $color-primary !important;
		}
	}
}

i.material-icons {
	vertical-align: bottom;
}