@mixin own-breakpoint-max($width) {
  @media screen and (max-width: $width) {
		display: none;
	}
}

@mixin own-breakpoint-min($width) {
  @media screen and (min-width: $width) {
		display: none;
	}
}

@mixin placeholder($color) {
  &.placeholder { color: $color }
  &:-moz-placeholder { color: $color }
  &::-moz-placeholder { color: $color }
  &:-ms-input-placeholder { color: $color }
  &::-webkit-input-placeholder { color: $color }
}