$color-primary        : #5d5991;
$color-darkblue       : #27235e;
$color-body           : #383737;
$color-light          : #fff;
$color-separator      : #dee2e7;
$color-gray           : #777;
$color-gray-light     : #dee2e7;
$color-bg-light     : #f1f5f8;

// Font
@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|PT+Sans:400,400i,700,700i');
$font-primary 			    : 'Cabin', sans-serif;
$font-secondary			    : 'PT Sans', sans-serif;